@charset "UTF-8";

@font-face { /*fonte dos parágrafos*/
    font-family: 'F25';
    src: url(fonts/F25_Bank_Printer.ttf) format('truetype');
}

@font-face { /*fonte dos títulos*/
    font-family: 'Coffee';
    src: url(fonts/Kenyan\ Coffee\ Rg.otf) format('opentype');
}

/*Configurações padrões*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    background: url(img/1.jpg);
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}


/*Estilização do lado Esquerdo*/
#esquerda{
    position: fixed;
    height: 100vh;
    width: 20vw;

    background-color: #2b0260;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#esquerda > nav > ul{
    list-style: none;

    margin-bottom: 150px;
}

#esquerda > nav > ul > li{
    margin: 14px;
}

#esquerda > nav > ul > li > a{
    text-decoration: none;
    color: white;

    font-size: 16pt;
}


/*Estilização do lado Direito*/
#direita{
    margin-left: 20vw;

}

h1{
    font-size: 30pt;
    font-family: 'Coffee';

}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: 'F25';
}

#inicio{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 30%;
}

#inicio > h1{
    font-size: 50pt;
}

#inicio > h2{
    margin-top: 10px;
    margin-left: 30px;

}

#sobre{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 70px;
}

#sobre > p{
    margin: 10px;
    font-size: 11pt;

}

#sobre > p > a > img{
    width: 50px;
}

#sobre > #iconDireita{
    text-align: end;

    width: 60vw;
}

#tecnologias{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 15vw;

}

#tecnologias > h1{
    font-size: 50pt;
   
}

#tecnologias > h2{
    margin-top: 10px;
    margin-left: 10px;

}


#tecnologias > p > img{
    width: 60px;
}

#projetos{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projetos > h1, h2{
    
    margin-left: 5vw;
}

#areaProjetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#areaProjetos > div{
    background-color: rgba(228, 228, 228, 0.902);
    margin: 10px;
    padding: 10px;

    box-shadow: 7px 6px 2px 0px rgba(0, 0, 0, 0.628);
}

#areaProjetos > div > p > img{
    margin-bottom: 20px;

    box-shadow: -3px 4px 1px 0px rgba(0, 0, 0, 0.628);
}

.paragrafoProjetors{
    margin: 10px;
    font-size: 11pt;
}

#areaProjetos > div > a{
    text-decoration: none;

    color: white;
    background-color: rgb(14, 4, 80);

    padding: 10px;

    border-radius: 5px 5px 10px 5px;
}